.nav-tab{

}

.nav-tab ul{
    display: flex;
    /* justify-content: space-evenly; */
    padding: 2.5rem 0;
}

.nav-tab ul li{
    display: inline-block;
    
}

.nav-tab ul li a{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #999999;
    border-right: 1px solid #999999;
    /* padding: 0 1rem; */
    padding: 0 0.7rem;
}

.nav-tab ul li:last-child a{
    border: none;
}

.nav-tab ul li a.active{

    color:black;
}

.divide{
    width: 100%;
    height: 2px;
    background-color: rgb(48, 43, 43);
}

.left-tree{
    transition:all 3s ease !important;
    overflow: hidden;
    min-height: 100vh;

}

.left-tree ul.nav>li{
    border-bottom: 1px dotted #999999;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
}

.left-tree ul.nav li label{
    color:#F15E2C;
    font-size: 24px;
    padding: 0rem 0 0rem 0;
}

.left-tree ul.nav li label i{
    font-size: 16px;
}

.left-tree ul.nav li ul{
    margin-top: 1rem;
    max-height: 10rem;
    overflow: hidden;
    transition: all .5s ease;
}


.left-tree ul.nav li ul li{
    
}

.left-tree ul.nav li ul li{
    width: 100%;
    margin: 0;
}

.left-tree ul.nav li ul li a{
   display: block;
   padding: 0.5rem 1rem;
  color: #000;
   
}
.left-tree ul.nav li ul li a:hover{
    background-color: #F15E2C;
    text-decoration: none;
    color: #fff !important;
}
 

.left-tree ul.nav li ul li a.active{
    color: black;

   
}

.left-tree ul.nav li ul.active{
    max-height: 0;
}

.sidebar-resp{
    
}

.sidebar-resp p{
    background-color: #999999;
    color: #fff;
    font-weight: 600;
    padding: 1rem 1rem;
    display: none;
    cursor: pointer;
}

.banner{

}

img{
    max-width: 100%;
}





@media screen and (max-width:768px){
    .left-tree{
        /* display: none; */
    }
    .sidebar-resp p{
        display: block;
    }

    .nav-tab ul li a{
        font-size: 14px;
        /* margin: 0 0.7rem; */
        padding: 0 0.4rem 0 0.4rem;
    }
}


